body {
  font-family: Arial, sans-serif;
  background-color: LightSteelBlue;
}

.container {
  display: inline-block;
  margin: 8px;
}

h1 {
  text-align: center;
}

h2 {
  color: CadetBlue;
  text-align: center;
}

table {
  border: 2px solid DarkCyan;
  border-radius: 10px;
  width: 600px;
  margin: 0 auto;
}

thead {
  background-color: LightCyan;
}

th {
  border-radius: 5px;
}

td {
  border-top: 1px solid DarkCyan;
}

.tag {
  text-align: center;
  width: 80px;
  height: 60px;
}

.code {
  font-family: monospace;
  background-color: Cyan;
}
